{:deps
 {org.clojure/data.json          {:mvn/version "2.4.0"}
  org.slf4j/slf4j-api            {:mvn/version "2.0.6"}
  org.slf4j/log4j-over-slf4j     {:mvn/version "2.0.6"}
  org.slf4j/jcl-over-slf4j       {:mvn/version "2.0.6"}
  org.slf4j/osgi-over-slf4j      {:mvn/version "2.0.6"}
  org.slf4j/jul-to-slf4j         {:mvn/version "2.0.6"}
  org.clojars.rutledgepaulv/avow {:mvn/version "0.1.0"}}

 :paths
 ["src"]

 :aliases
 {:build {:extra-deps  {io.github.clojure/tools.build
                        {:git/url "https://github.com/clojure/tools.build.git"
                         :sha     "75817f39b76375886a9014de3c4b5ab28e9456c8"}}
          :extra-paths ["builds"]
          :ns-default  build}

  :test  {:extra-paths ["test"]
          :extra-deps  {io.github.cognitect-labs/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner.git"
                         :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
          :main-opts   ["-m" "cognitect.test-runner"]
          :exec-fn     cognitect.test-runner.api/test}}}